@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all linear;
  transition-duration: 200ms;
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 8px;
}

::selection {
  background-color: #dc2626;
  color: white;
}

.lineAbove::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  background-color: #dc2626 !important;
  width: 16%;
  height: 4px;
  border-radius: 5px;
}

.hoverLink:hover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #dc2626 !important;
  height: 2px;
  transition: all linear 200ms;
  border-radius: 5px;
}

.roundedVideo::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid wheat;
  top: -15%;
  left: -15%;
  width: 100px;
  aspect-ratio: 1 / 1;
  z-index: 50;
  animation: circel 3s infinite both linear;
}

.lineUnder::after {
  content: "";
  background-color: rgb(220, 38, 38);
  width: 2px;
  height: 50%;
  border-radius: 10px;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  z-index: 20;
}

.wordbefore::before {
  content: 'Works';
  position: absolute;
  color: rgb(29, 28, 28);
  font-size: 5.6rem;
  left: 0;
  right: 0;
  top: -12px;
  letter-spacing: 5px;
  user-select: none;
  z-index: -1;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .lineUnder::after {
    height: 35%;
  }
}

@media screen and (max-width:640px) {
  .lineUnder::after {
    height: 35%;
  }
}

@media screen and (max-width:530px) {
  .lineAbove::after {
    top: -15px;
    left: 0.4em;
  }

  .lineUnder::after {
    height: 35%;
  }
}

@keyframes circel {

  0%,
  100% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }
}

@layer base {}